* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #dad8d8;
  width: 595px;
  height: 700px;
  padding-top: 20px;
}
cl .row {
  max-width: 114rem;
  margin: 0 auto;
}
[class^="col-"] {
  float: left;
}
[class^="col-"]:not(:last-child) {
  margin-right: 20px;
}
.col-1-2 {
  width: calc((100% - 20px) / 2);
}
.col-1-of-2 {
  width: calc((100% - 2 * 20px) / 3);
  padding: 10px 10px 10px 20px;
}
.col-2-of-2 {
  width: calc((2 * (100% - 2 * 20px) / 3));
  padding: 10px;
}
.first__img {
  margin: 30px 0 30px 0;
}

.TEXT {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 20px;
  color: rgb(56, 56, 134);
}
.col__text {
  border-bottom: 1px solid black;
}
.comDiv {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.divider {
  margin-bottom: 20px;
}
.span {
  display: block;
}
.langDiv > li {
  list-style: none;
}
.skillDiv {
  padding-left: 30px;
}
.skilllist1 {
  margin-right: 10px;
}
.merg {
  margin-bottom: 20px;
}
.edu-spaceup {
  margin-top: 10px;
}
.left {
  padding-right: 20px;
}
